@keyframes showNotif {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

.notificationWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #030303;
    width: 350px;
    column-gap: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 11px rgba(22, 22, 22, 0), 0px 0px 15px -5px rgba(255, 255, 255, 0.068);
    position: fixed;
    left: 50px;
    bottom: 30px;
    animation: showNotif 0.5s ease-in-out forwards;
    text-align: center;
    z-index: 2000;
}

.imgNotif{
    max-height: 70px;
}

.notifText{
    color: white;
}

@media (max-width: 720px) {
    .notificationWrapper{
        left: auto;
    }
    
  }

@media (max-width: 500px) {
    .notificationWrapper{
        width: 250px;
    }
    .notifText{
        font-size: 15px;
    }
  }