.homePageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-45deg, #020202, #494949, #020202, #494949);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.infoHome {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    text-align: center;
    margin: 30px;
}

.homePageWrapper h2 {
    font-size: 62px;
    color: white;
    text-shadow: 2px 2px #000000;
}

.subtitle {
    font-size: 42px;
}

.userLogo {
    width: 22%;
    min-width: 234px;
}

.homePageWrapper a {
    align-self: center;
}

.arrow {
    width: 3%;
    min-width: 30px;
    bottom: 50px;
    position: absolute;

    animation: bounceUpDown 2.5s infinite alternate;

    @keyframes bounceUpDown {
        from {
            transform: translateY(0); /* Position initiale (haut) */
        }
        to {
            transform: translateY(20px); /* Position finale (bas) */
        }
    }
}


@media (max-width: 1024px) {
    .homePageWrapper h2 {
        font-size: 55px;
    }

    .subtitle {
        font-size: 35px;
    }

    .infoHome {
        column-gap: 100px;
    }
    
  }
  @media (max-width: 720px) {
    .homePageWrapper h2 {
        font-size: 40px;
    }

    .subtitle {
        font-size: 30px;
    }

    .infoHome {
        column-gap: 70px;
    }
    .userLogo {
        
        min-width: 150px;
    }
  }
  @media (max-width: 500px) {
    .homePageWrapper h2 {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }
    .userLogo {
        
        display: none;
    }

    .infoHome {
        column-gap: 30px;
    }
  }